/* mobile */
@media screen and (min-width: 350px) {
    html {
        height: 100%;
        width: 100%;
        position: fixed;
    }
	body {
        height: 100%;
		width: 100%;
		margin: 0px;
		overflow: hidden;
	}
	.header {
		margin-top: 0px;
		border-radius: 0px;
	}
	.footer {
	}
	.viewport {
		height: calc(100vh - 212px - (100vh - 100%));
	}
	.content {
		max-height: calc(100vh - (100vh - 100%));
	}
    .menu {
        /*prevent chat command menu going off bottom of screen, add scrollbar as needed*/
        /*minimum 400px height to keep menu on screen*/
        max-height: 80vh;
        overflow-y: auto;
    }
}


/* desktop and laptop */
/* min-height forces raspberry pi 7-inch display to render as mobile */
@media screen and (min-width: 700px) and (min-height: 750px) {
	body {
		max-width: 700px;
		margin: auto;
		overflow: hidden;
	}
	.header {
	}
	.footer {
	}
	.viewport {
		height: 500px;
	}
	.content {
		max-height: 500px;
	}
    .icon-hamburger {
        top: 10px;
        right: 17px;
    }
    .menu {
        top: -17px;
        right: 24px;
    }
}
