/* mobile */
@media screen and (min-width: 350px) {
    .header-content {
        width: 100%;
    }
    .body-content {
        width: 100%;
    }
    .menu {
        /*prevent chat command menu going off bottom of screen, add scrollbar as needed*/
        /*minimum 400px height to keep menu on screen*/
        max-height: 80vh;
        overflow-y: auto;
    }
}


/* desktop and laptop */
/* min-height forces raspberry pi 7-inch display to render as mobile */
@media screen and (min-width: 700px) and (min-height: 750px) {
    .header-content {
        width: 50%;
    }
    .body-content {
        width: 50%;
    }
    .menu {
        top: -17px;
        right: 24px;
    }
}
